/* STYLE FOR BALANCE */
.main-columns{
    background-color: purple;
    margin: 15vh;
}
.div-balance, .div-filters, .div-operations{
    padding: 4vh;
    border-radius: 2%;
}
.div-balance{
    height: 50vh;
    background-color: yellow;
}
.div-filters{
    height: 65vh;
    background-color: orange;
    margin-top: 5vh;
}
.div-operations{
    height: 100vh;
    background-color: aqua;
}
.div{
    background-color: pink;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}
.profits :last-child{
    color: green;
}
.expenses :last-child{
    color: red;
}
.operation-img{
    display: flex;
    justify-content: center;
}
.filters-div-list ul{
    background-color: seagreen;
    margin-top: 3vh;
}
ul li{
    margin-bottom: 3vh;
}
select, #input-date{
    width: 100%;
    height: 5vh;
}

/* STYLE FOR NEW OPERATION */
.main-new-operation{
    background-color: rebeccapurple;
    height: 100vh;
    width: 60vw;
    margin-top: 10vh;  /*CAMBIAR UNA VEZ OBTENIDO EL NAVBAR*/
}